@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* text selection */
[data-color-theme="dark"] *::selection {
  @apply !bg-neutral-50 !text-neutral-950;
}
[data-color-theme="light"] *::selection {
  @apply !bg-neutral-950 !text-neutral-50;
}

.no-transition * {
  transition-duration: 0s !important;
}
