.wrapper {
  overflow: hidden;
  border-radius: 9999px;
  box-shadow: 0px 0px 8px 0px rgba(12, 12, 12, 0.75);
}

.wrapper::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10.125rem;
  height: 10.125rem;
  pointer-events: none;
  z-index: 0;
  content: "";
  background: linear-gradient(
    90deg,
    transparent 40%,
    rgba(255, 255, 255, 1) 50%,
    transparent 60%
  );
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transform-origin: center center;
  animation: rotating-highlight 3s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  filter: blur(1.5rem);
}

.content {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 9999px;
  border: 1px solid rgb(64 64 64);
  padding: 1.5rem 2rem;
  -webkit-clip-path: circle(50% at center);
}

.content::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 20rem;
  pointer-events: none;
  z-index: 0;
  content: "";
  background: linear-gradient(
    90deg,
    transparent 40%,
    rgba(255, 255, 255, 1) 50%,
    transparent 60%
  );
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transform-origin: center center;
  animation: rotating-highlight 3s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

.content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(19, 18, 16);
  border-radius: 9999px;
  pointer-events: none;
  z-index: 1;
}

@keyframes rotating-highlight {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(225deg);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(405deg);
  }
}
